@import url(https://fonts.googleapis.com/css?family=Graduate&subset=latin,latin-ext);

html,
body {
    height: 100%;
}
body {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    background: transparent;
}
.center {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.background-image {
    background: #333 url('/images/black-and-white-music-headphones-life.jpg');
    background-size: cover;
    display: block;
    filter: blur(2px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}


.title {
    font-family: 'Graduate', cursive;
}
.btn-song {
    background: #444444;
    font-family: 'Graduate', cursive;
    margin-bottom: 10px;
}
.site-wrapper {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    top: 10px;
    left: 0;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
}