
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">Musiquess</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <button ng-repeat="song in songs" class="button button-block button-positive" ng-click="sendQuess(song.title, song.rightChoise)">
            {{ song.title }} <br>
            {{ song.artist[0] }}
        </button>

    </ion-content>
    <ion-tabs class="tabs-icon-top">
        <a class="tab-item" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">
            <i class="icon ion-social-facebook"></i>
            Login with Facebook
        </a>
        <a class="tab-item" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">
            <i class="icon ion-social-facebook"></i>
            Logout
        </a>
    </ion-tabs>
