<div class="background-image"></div>
<div class="site-wrapper">

    <h1 class="title center">MusiQuess</h1>
    <h6 class="title center">Server address: {{ serverAddress }}</h6>

    <h2 class="title">Online users</h2>

    <div class="row">
        <div class="profile-header-container col-md-3" ng-repeat="(id, user) in users | toArray | orderBy : 'user.points'">
            <div class="profile-header-img">
                <img class="img-circle" src="{{ user.image }}" />
                <!-- badge -->
                <div class="rank-label-container fixed-width-200">
                    <span class="label label-default rank-label">{{ user.name }}</span> <br />
                    <span class="label label-default rank-label">Points: {{ user.points }}</span>
                </div>
            </div>
        </div>
    </div>
    <h3>&nbsp;<span ng-show="showCountdown">Next song in: <timer countdown="5" interval="1000" finish-callback="startSong()">{{seconds}} second{{secondsS}}</timer></span></h3>
    <h2 class="title">Songs</h2>

    <div class="col-md-6" ng-repeat="song in songs">
        <button type="button" class="btn btn-song col-md-12">
            {{ song.title }} <br>
            {{ song.artist[0] }}
        </button>
    </div>

</div>

<div ng-show="showRoundWinner" class="overlay display-table">
    <div class="row display-table-cell vertical-align-middle">
        <div class="profile-header-container">
            <div class="profile-header-img">
                <img class="img-circle" src="{{ winner.user.image }}" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label">{{ winnerText }}</span>
                </div>
            </div>
        </div>
    </div>
</div>